<h1><%= name_with_honorific %></h1>
<%= image_tag @member.headshot.url %><br>
<h3>
  Member of Parliament for <%= @member.electoral_district.name %> (<%= link_to @member.party.name, @member.party, id: "party", data: { party: @member.party.name } %>, <%= @member.electoral_district.province %>)
</h3>
<p>Email: <%= link_to @member.email, "mailto:#{@member.email}" %></p>
<%= content_tag :div, id: "map", data: { geo: @member.electoral_district.geo } do %>
<% end %>
<%= render "bills" %>
<%= render "votes" %>
