<h1><%= @member.fullname(true) %></h1>
<%= image_tag @member.headshot.url %><br>
<h3>
  Member of Parliament for <%= @member.electoral_district.name %> (<%= link_to @member.party.name, @member.party, id: "party", data: { party: @member.party.name } %>, <%= @member.electoral_district.province %>)
</h3>
<%= content_tag :div, id: "map", style: "height: 400px", data: { geo: @member.electoral_district.geo } do %>
<% end %>
<!-- <div id="map" style="height: 400px"></div> -->
<p>Email: <%= link_to @member.email, "mailto:#{@member.email}" %></p>
<h2>Votes</h2>
<table>
  <tbody>
    <tr>
      <th>Name</th><th>Date</th><th>Position</th><th>Vote result</th>
    </tr>
    <% @member.votes.each do |vote| %>
    <tr>
      <th><%= vote.vote_tally.para.truncate(20) %></th>
      <th><%= vote.vote_tally.date %></th>
      <th><%=  vote.vote_decision == true ? "Yea" : "Nay" %></th>
      <th><%= vote.vote_tally.agreed_to == true ? "Agreed To" : "Negatived" %></th>
    </tr>
    <% end %>
  </tbody>
</table>
