<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= javascript_include_tag 'leaflet' if @member || @party %>
<%= stylesheet_link_tag    'leaflet' if @member || @party %>

<div class="main-wrapper">
  <%= render "layouts/header" %>
  <div class="content-wrapper">
    <%= yield %>
  </div>
</div>

<%= javascript_include_tag 'district-map' if @member || @party %>
</body>
</html>
