<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="main-wrapper">
  <%= render "layouts/header" %>
  <div class="content-wrapper">
    <%= flash[:notice] if flash[:notice] %>
    <%= yield %>
  </div>
</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
